%h3 Create New Signal
%p Select a template to start

.row.create-new
  - @signal_types.each do |signal_type|
    = link_to '#create', :data => { :toggle => 'tab', :signal_type => signal_type } do
      .panel.signal-panel.panel-new
        = get_signal_type_icon(signal_type)
        .panel-header{ class: "#{signal_type}"}
          .header-text
            = signal_type.to_s.humanize
          .subheader
            SIGNAL
        .panel-body
          = get_signal_type_text(signal_type)
