.row.dash
  .col-md-12.dash-header
    =image_tag('#', :alt => 'pic', :class => 'brand-img')
    %h3.dash-brand
      = @brand.name

    .brand-pricing-plan
      %p= "brand princing info here"

    %br
    %p.dash-brand
      @
      = @brand.name

.row.dash
  %ul.nav.nav-pills
    %li.active
      %a{:href => '#signals', :data => {:toggle => 'tab'}}
        %p SIGNALS
    %li
      %a{:href => '#new-signals', :data => {:toggle => 'tab'}}
        %p CREATE NEW
.row
.col-md-12
  .tab-content.clearfix
    .tab-pane.active#signals
      = render 'listen_signals/index', :locals => { :brand => @brand }
    .tab-pane#new-signals
      = render 'listen_signals/new'
