!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProjectSignal
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render 'layouts/favicon'
    = csrf_meta_tags
    = action_cable_meta_tag
  %body
    = render 'shared/header'
    .div.container
      .div#flash_messages

    .container-fluid.main
      = yield

    = render 'shared/footer'

    :javascript
      window.__IMAGE_ASSETS__ = #{image_assets.to_json};
